[submodule "Modules/Blog"]
	path = Modules/Blog
	url = https://github.com/laraxot/module_blog.git
[submodule "Modules/FormX"]
	path = Modules/FormX
	url = https://github.com/laraxot/module_formx.git
[submodule "Modules/Geo"]
	path = Modules/Geo
	url = https://github.com/laraxot/module_geo.git
[submodule "Modules/LU"]
	path = Modules/LU
	url = https://github.com/laraxot/module_lu.git
[submodule "Modules/Settings"]
	path = Modules/Settings
	url = https://github.com/laraxot/module_settings.git
[submodule "Modules/Theme"]
	path = Modules/Theme
	url = https://github.com/laraxot/module_theme.git
[submodule "Modules/Xot"]
	path = Modules/Xot
	url = https://github.com/laraxot/module_xot.git
[submodule "Modules/Food"]
	path = Modules/Food
	url = https://github.com/laraxot/module_food.git
[submodule "public/noconsole"]
	path = public/noconsole
	url = https://github.com/laraxot/noconsole.git
[submodule "laravel/resources/views/themes/coderdocs"]
	path = laravel/resources/views/themes/coderdocs
	url = https://github.com/laraxot/theme_coderdocs.git
[submodule "laravel/resources/views/themes/gbfood"]
	path = laravel/resources/views/themes/gbfood
	url = https://github.com/laraxot/theme_gbfood.git
[submodule "laravel/resources/views/themes/italia10"]
	path = laravel/resources/views/themes/italia10
	url = https://bitbucket.org/team_foodx/theme_italia10.git
[submodule "laravel/resources/views/themes/sb-admin-2-bs4"]
	path = laravel/resources/views/themes/sb-admin-2-bs4
	url = https://github.com/laraxot/theme_sb-admin-2-bs4.git


